.cont {
  width: 300px;
  min-height: 300px;
  margin: 128px auto;

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .more-actions {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    color: var(--neutral-black-b500);

    a {
      text-decoration: underline;
      color: var(--neutral-black-b500);
      margin-left: 8px;
    }
  }
  button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 175%;
    color: var(--neutral-white-w900);
  }

}

