.product-Item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 56px;
  .first {
    display: flex;
    align-items: center;
    img {
      border-radius: 4px;
      padding: 0px 11px;
      width: 80px;
      height: 80px;
      background: var(--neutral-white-w100);
    }
    .description {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-left: 32px;
      .name {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: var(--font--size--14);
        line-height: 175%;
        text-align: center;
        color: var(--neutral-black-b900);
      }
      .ordered {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: var(--font--size--12);
        line-height: 200%;
        text-transform: capitalize;
        // text-align: center;
        color: var(--neutral-black-b500);
      }
      .price {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: var(--font--size--12);
        line-height: 200%;
        text-transform: capitalize;
        color: var(--neutral-black-b900);
      }
    }
  }
}
