<div class="title">Orders</div>
<div>
  <table class="table">
    <tbody>
      @for(order of orders$ | async; track order.id) {
      <tr>
        <td>
          {{ order.user.email }}
        </td>
        <td>
          {{ order.total | currency : "USD" : "$" }}
        </td>
        <td>
          {{ order.createdAt | date : "dd/MM/yyyy HH:mm" }}
        </td>
        <td>
          {{ order.status | order }}
        </td>
        <td>
          <button
            alte-button
            size="extra-small"
            [routerLink]="['/profile', 'orders', order.id]"
          >
            View
          </button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td>No orders</td>
      </tr>
      }
    </tbody>
  </table>
</div>
