<div class="container contact">
  <div class="contact__header">
    <h2>Let's Connect</h2>
    <p>Feel free to reach out to me through any of the following channels:</p>
  </div>
  <div class="contact__links">
    <ul>
      <li>
        <a href="https://github.com/tkopadze2004" target="_blank">
          <img src="./assets/icon/github.png" alt="GitHub">
          <span>Github</span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/tamta-kopadze-48b03326a/" target="_blank">
          <img src="./assets/icon/linkedin.png" alt="LinkedIn">
          <span>Linkedin</span>
        </a>
      </li>
    </ul>
  </div>

