.category {
  display: grid;
  grid-template-columns: 264px auto;
  gap: 16px;
  padding: 32px 0;

  .active--filters {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0 24px;

    &--title {
      font-family: var(--font--family);
      font-weight: 500;
      font-size: var(--font--size--14);
      line-height: 175%;
      color: var(--neutral-black-b900);
    }

    &--cont {
      display: flex;
      gap: 12px;
      &--category,
      &--size {
        display: flex;
        align-items: center;
        gap: 8px;
        border: 1px solid var(--neutral-black-b100);
        border-radius: 100px;
        padding: 2px 16px;
        width: 120px;
        height: 36px;

        font-family: var(--font--family);
        font-weight: 500;
        font-size: var(--font--size--12);
        line-height: 200%;
        text-transform: capitalize;
        color: var(--neutral-black-b900);
      }
    }
  }

  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    &--dropdown {
      gap: 6px;
      display: flex;
      align-items: center;
      font-family: var(--font--family);
      font-weight: 500;
      font-size: var(--font--size--12);
      line-height: 200%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--neutral-black-b500);
    }

    &--result {
      font-family: var(--font--family);
      font-weight: 500;
      font-size: var(--font--size--12);
      line-height: 200%;
      text-transform: capitalize;
      color: var(--neutral-black-b500);
    }
  }

  &--content {
    display: flex;
    flex-direction: column;

    .products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }
  .no-result {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-family: var(--font--family);
    font-weight: 500;
    text-transform: capitalize;
    font-size: var(--font-size-24);
  }

  &__side {
    display: flex;
    justify-content: center;
    &--filter {
      display: flex;
      flex-direction: column;
      gap: 40px;
      border: 1px solid var(--neutral-black-b100);
      border-radius: 6px;
      padding: 24px 12px 32px 16px;
      width: 248px;
      height: 700px;
    }
  }
  .filter-color-content {
    gap: 10px;
    flex-wrap: wrap;
  }
}
