<div class="product-item" [routerLink]="['/product' ,product?.id]"  >
  <div class="product-item__image">
  <img [src]="product?.image">
</div>
<div class="product-item__name">{{product?.name}} </div>
<div class="product-item__info">
  <!-- @if(product?.instock){
    <div class="product-item__info--stock">{{product?.instock | stock}} </div>

  } -->
  <app-stock-check   *ngIf="product && product.instock !== undefined" [instock]="product.instock || false" />

  <div class="product-item__info--price"> {{product?.price | currency : 'USD' : '$'}} </div>

</div>
</div>
