.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px auto;

  p {
    font-family: var(--font--family);
    font-size: 30px;
    font-weight: 500;
    color: var(--neutral-black-b600);
  }
  img {
    width: 150px;
    height: 150px;
  }
}
