.my_account {
  display: flex;
  justify-content: flex-start;

  .left {
    display: flex;
    margin: 120px 0 249px;
  }

  .right {
    width: auto;
    margin: 64px 0 0 40px;
  }

  .line {
    margin: 60px 48px 131px 36px;
    height: 504px;
    border-right: 2px solid var(--neutral-white-w200);
  }

  .side-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      border-radius: 8px;
      padding: 8px 24px;
      width: 212px;
      height: 41px;
      display: flex;
      gap: 10px;
      cursor: pointer;
      color: var(--neutral-black-b500);

      &:hover,
      &.active {
        background: var(--neutral-white-w100);
        color: var(--neutral-black-b900);
        img {
          filter: brightness(0);
        }
      }
    }

    .side-menu__name {
      font-family: var(--font--family);
      font-weight: 500;
      font-size: var(--font--size--14);
      line-height: 175%;
    }
  }
}
