// .my_account {
//   display: flex;

//   .left {
//     display: flex;
//     flex-direction: column;
//     margin: 120px 0 249px;
//     gap: 16px;

//     > div {
//       cursor: pointer;
//       display: flex;
//       align-items: center;
//       margin-bottom: 10px;
//       font-family: var(--font-family);
//       font-weight: 500;
//       font-size: var(--font--size--14);
//       line-height: 175%;
//       color: var(--neutral-black-b500);
//       padding: 8px 24px;
//       width: 212px;
//       height: 41px;
//       &:hover {
//         border-radius: 8px;
//         color: var(--neutral-black-b900);
//         background: var(--neutral-white-w100);
//         img {
//           filter: brightness(0);
//         }
//       }

//       img {
//         margin-right: 10px; // Space between the icon and the text
//       }
//     }
//   }
//   .line {
//     margin: 60px 0 131px;
//     width: 1px;
//     height: 504px;
//     background: var(--neutral-white-w200);
//     transform: rotate(-180deg);
//   }

//   .orders{
//     margin: 64px 0  0 48px;
//   }
// }

.my_account {
  display: flex;
  justify-content: flex-start;

  .left {
    display: flex;
    // width: 360px;
    margin: 120px 0 249px;
  }

  .right {
    // flex: 1;
    width: auto;
    margin: 64px 0 0 48px;
  }

  .line {
    margin: 60px 48px 131px 36px;
    width: 1px;
    height: 504px;
    background: var(--neutral-white-w200);
    transform: rotate(-180deg);
  }

  .side-menu {
    // width: 212px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      border-radius: 8px;
      padding: 8px 24px;
      width: 212px;
      height: 41px;
      display: flex;
      gap: 10px;
      cursor: pointer;
      color: var(--neutral-black-b500);

      &:hover,
      &.active {
        background: var(--neutral-white-w100);
        color: var(--neutral-black-b900);
        img {
          filter: brightness(0);
        }
      }
    }

    .side-menu__name {
      font-family: var(--font--family);
      font-weight: 500;
      font-size: var(--font--size--14);
      line-height: 175%;
    }
  }
}
