<!--

<app-auth-head title="My Account" />
<div class="container">
  <div class="left">
    <div>
      <img src="./assets/icon/Cart.svg" />
      <div>Order</div>
    </div>
    <div>
      <img src="./assets/icon/Heart.svg" />
      <div>Wishlist</div>
    </div>
    <div>
      <img src="./assets/icon/Delivery.svg" />
      <div>Address</div>
    </div>
    <div>
      <img src="./assets/icon/Key.svg" />
      <div>Password</div>
    </div>
    <div>
      <img src="./assets/icon/User.svg" />
      <div>Acconut Detail</div>
    </div>
    <div>
      <img src="./assets/icon/Logout.svg" />
      <div>Logout</div>
    </div>
  </div>
  <div class="line">
  </div>

  <div class="orders">
    <app-orders/>
  </div>
</div>

 -->

 <div>
  hi
 </div>

<router-outlet/>
