<app-auth-head title="Failed Order"
backgroundColor="var(--semantic-red-r100)"
/>

<div class="container success">

  <div class="content">
    <img src="./assets/icon/failed.png">
    <div class="title">Oops! There was an issue</div>
    <div class="message">Oops! There was a problem processing your order. Please review the details and try again.</div>

    <button  alte-button  routerLink="/profile/checkout"  >
      <span>Reorder</span>
      <img src="./assets/icon/rightarrow.svg">
    </button>
  </div>



</div>
