:host {
  display: block;
  padding: 48px 0;
  background: var(--neutral-white-w100);

  .delivery {
    img {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 0px 10px;
      width: 48px;
      height: 48px;
      margin-bottom: 24px;
      background: var(--neutral-white-w100);
    }
  }

  .feature {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;

    &__title {
      font-family: var(--font--family);
      font-weight: 600;
      font-size: var(--font-size--16);
      color: var(--neutral-black-b800);
    }

    &__left {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &--text {
        font-family: var(--font--family);
        font-weight: 400;
        font-size: var(--font-size--14);
        line-height: 175%;
        color: var(--neutral-black-b500);
      }
    }
  }
}

@media (max-width: 768px) {
  :host .feature {
    gap: 32px;

    &__left {
      min-width: calc(50% - 16px);
    }
  }
}

@media (max-width: 480px) {
  :host .feature {
    flex-direction: column;
    gap: 24px;
  }
}
