<app-auth-head
title="Reset Password"/>

<div class="cont">
  <form [formGroup]="form">
    <app-input
      formControlName="password"
      type="password"
      label="New password"
    />
    <app-input
    formControlName="confirm"
    type="password"
    label="Confirm password"
  />
    <!--       placeholder="Enter your email"
 -->



    <div class="auth-button">
      <button alte-button  block  (click)="onSubmit()" >Reset password</button>
    </div>
  </form>

<!-- <div class="more-actions">
  Don't have an account? <a [routerLink]="['/auth/register']"  >  Sign up</a>
</div> -->
</div>
{{ form.value | json }}
