<app-auth-head
  title="Successful Order"
  backgroundColor="var(--semantic-green-g100)"
/>

<div class="container success">
  <div class="content">
    <img src="./assets/icon/success.png" />
    <div class="title">Thank you for shopping</div>
    <div class="message">
      Your order has been successfully placed and is now being processed.
    </div>

    <button alte-button block routerLink="/profile/orders">
      <span>Go to my account</span>
      <img src="./assets/icon/rightarrow.svg" />
    </button>
  </div>
</div>
