<div class="container">
  <div class="head">
    <img src="./assets/icon/Star.png" />
    <div class="head__title">alte-ecommerce</div>
  </div>
  <div class="body">
    <div class="body__text">
      <p>
        Hey there 👋 I'm Tamta Kopadze! Angular developer since 2024, Passionate
        about crafting user experiences and transforming ideas into polished
        products.
      </p>
      <p>
        Welcome to online fashion store! Explore a thoughtfully curated
        collection of high-quality clothing items to enhance your style.
      </p>
    </div>
    <div class="body__contact">
      <div>
        <span class="body__contact--text">For inquiries :</span>
        <span> Click <a [routerLink]="['/contact']">here</a></span>
      </div>
      <div>
        <span class="body__contact--text">Live Website : </span>
        <span>
          <a href="https://alte-ecommerce-15c99.web.app/" target="_blank"
            >https://alte-ecommerce-15c99.web.app/</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
