.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;

  &--img {
    background: var(--neutral-white-w100);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 76px 123px;
    width: 534px;
    height: 574px;

    img {
      width: 288px;
      height: 404px;
    }
  }

  &--info {
    padding-left: 120px;

    &__color {
      font-family: var(--font--family);
      font-weight: 500;
      font-size: var(--font--size--14);
      line-height: 200%;
      letter-spacing: 0.05em;
      margin-top: 32px;
      text-transform: uppercase;
      color: var(--neutral-black-b500);

      display: flex;
      gap: 10px;
      flex-direction: column;
    }

    h1 {
      font-family: var(--font--family);
      font-weight: 700;
      font-size: 24px;
      color: var(--neutral-black-b900);
      padding: 0;
      margin: 0;
    }

    &__stock--reviews {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 12px;
      border-radius: 100px;
      padding: 0px 8px 0px 0px;
      width: auto;
      height: 28px;
    }
    &__price {
      font-family: var(--font--family);
      font-weight: 600;
      font-size: 18px;
      margin-top: 24px;
      color: var(--neutral-black-b900);
    }

    &__quantity {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-family: var(--font--family);
      font-weight: 500;
      font-size: var(--font--size--12);
      line-height: 200%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--neutral-black-b500);
    }

    &__add-to-cart {
      margin-top: 50px;
      display: flex;
      gap: 16px;
      align-items: center;
      // justify-content: center;

      .add-to-cart--btn {
        width: 60%;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: var(--font--size--14);
        // line-height: 175%;
        color: var(--neutral-white-w900);
      }
    }
  }

  &--description{
    margin-top: 120px;
    font-family: var(--font--family);
font-weight: 400;
font-size: var(--font--size--14);
line-height: 175%;
color: var(--neutral-black-b500);
  }

  &--related{
    .products{
      margin-top:56px;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 20px;
    }
  }
}
