@if(product$| async; as product){
  <app-breadcrumb  [qurrentPage]="product.name" />

  <div class="container product">
    <div class="product--img"> <img [src]="product.image" >  </div>
    <div class="product--info">
   <h1>{{product.name}}</h1>
<div class="product--info__stock--reviews">
<app-review  *ngIf="product.review" [review]="product.review"/>
<app-stock-check  class="SH"  *ngIf="product && product.instock !== undefined" [instock]="product.instock || false" />
</div>
<div class="product--info__price">
  {{product.price |currency : "USD" }}
</div>
    </div>
  </div>
}



