<app-auth-head title="Sign Up" />

<div class="cont">
  @if(errorMessage){
    <app-alert type="error" [message]="errorMessage" />
    }
    @if(successMessagge){
    <app-alert type="success" [message]="successMessagge" />
    }
  <form [formGroup]="form">
    <app-input
      error="Email is required"
      formControlName="email"
      type="email"
      label="Email"
    />

    <app-input
      error="Password is required"
      formControlName="password"
      type="password"
      label="Password"
    />

    <div class="Privacy">
      By creating an account you agree with our Terms of Service, Privacy
      Policy,
    </div>
    <div class="auth-button">
      <button alte-button block (click)="onSubmit()">Sign Up</button>
    </div>
  </form>

  <div class="more-actions">
    Already have an account?<a [routerLink]="['/auth']"> Log in</a>
  </div>
</div>
