.order {
  h2 {
    text-decoration: rgb(139, 139, 139) underline;
    font-size: 30px;
    font-weight: 500;
    color: var(--neutral-black-b700);
    margin-bottom: 30px;
  }
  &__products {
    margin:40px 0;

    .products {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
