.checkout {
  display: flex;
  justify-content: space-between;
  gap: 122px;
  margin: 56px auto;
  padding-bottom: 70px;
  &__details {
    flex: initial;
    width: 436px;
    height: 504px;
    display: block;
    padding: 24px 16px 24px 64px;
    border-left: 1px solid var(--neutral-black-b100);

    .in-cart {
      margin-top: 64px;
      height: 44px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__edit {
       display: flex;
       align-items: center;
       justify-content: center;
        border-radius: 4px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 175%;
        color: var(--neutral-black-b500);
      }
      &__images {
        display: flex;
        gap: 12px;
        align-items: center;

        img {
          padding: 0px 11px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: var(--neutral-white-w100);
          object-fit: cover;
        }
      }
    }

    .title {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 16px;
      color: var(--neutral-black-b900);
    }

    .finance--detail {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  .divider {
    width: 100%;
    height: 1px;
    background: var(--neutral-black-b100);
    margin: 24px 0;
  }

  &__checkout {
    margin-top: 32px;
  }
  &__continue--shopping {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--link {
      font-family: var(--font-family);
      font-weight: bold;
      font-size: 12px;
      line-height: 150%;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: var(--neutral-black-b900);
    }
  }

  &__list {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;

    h4 {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 16px;
      color: var(--neutral-black-b900);
      margin: 0;
      padding: 0;
    }


  form{
    // margin-right: 119px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .one_column{
      width: 100%;
    }

    .two_column{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      width: 100%;
    }
    .personal-info {
      margin-top: 35px;
    }
  }
}
}
