<div class="title">
  Change Password
</div>
<form [formGroup]="form">
  <app-input
  formControlName="newPassword"
  type="text"
  label="New Password"
/>
@if(form.get('newPassword')?.touched && form.get('newPassword')?.hasError('pattern')){
  <app-alert
  type="error"
  message="Password must contain at least 6 characters, 1 number, 1 uppercase and 1 lowercase letter"
  />
}
@if(form.get('newPassword')?.touched && form.get('newPassword')?.hasError('required')){
  <app-alert
  type="error"
  message="Password is required"
  />
}

<form [formGroup]="form">
  <app-input
  formControlName="confirmPassword"
  type="text"
  label=" Confirm Password"
/>
@if(form.touched &&  form.hasError('confirmPassword')){
  <app-alert
  type="error"
  message="Password don't match"
  />}


<div class="auth-button">
  <button alte-button block  (click)="submit()">Change password</button>
</div>
</form>
