.product-item {
  display: flex;
  margin-top: 32px;
  .first {
    display: flex;

    img {
      border-radius: 4px;
      padding: 0px 11px;
      width: 80px;
      height: 80px;
      background: var(--neutral-white-w100);
    }
    &__description {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-left: 32px;
      &--name {
        font-family: var(--font--family);
        font-weight: 500;
        font-size: var(--font--size--14);
        line-height: 175%;
        text-align: center;
        color: var(--neutral-black-b900);
      }
      &--ordered {
        font-family: var(--font--family);
        font-weight: 500;
        font-size: var(--font--size--12);
        line-height: 200%;
        text-transform: capitalize;
        text-align: center;
        color: var(--neutral-black-b500);
      }
      &--extraContent {
        font-family: var(--font--family);
        font-weight: 500;
        font-size: var(--font--size--12);
        line-height: 200%;
        text-transform: capitalize;
        color: var(--neutral-black-b900);
      }
    }

    &__info {
      display: flex;
      margin-left: 116px;
      gap: 32px;
      align-items: center;

      &--status {
        height: 25px;
        font-family: var(--font--family);
        font-weight: 500;
        font-size: var(--font--size--14);
        line-height: 175%;
        text-align: center;
        color: var(--neutral-black-b900);
        &.bordered {
          border-bottom: 1px solid var(--neutral-black-b900);
        }
      }

      &--buttonText {
        font-family: var(--font--family);
        font-weight: 500;
        font-size: var(--font--size--14);
        color: var(--neutral-black-b900);
      }
    }
  }
}
.hr {
  margin-top: 32px;
  border: none;
  height: 1px;
  background: var(--neutral-white-w200);
  width: 100%;
}
